We take a list and try to print all the elements of that list using a for loop

In [3]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(a),1):
    print('index:- ',i,' values:- ',a[i])

index:-  0  values:-  1
index:-  1  values:-  2
index:-  2  values:-  3
index:-  3  values:-  4
index:-  4  values:-  5
index:-  5  values:-  6
index:-  6  values:-  7
index:-  7  values:-  8
index:-  8  values:-  9
index:-  9  values:-  10

## Meaning of the above statement 
* Here i is the index of the loop which will allow the loop to iterate through the list. The value of the index will tell the location in the list for example if i = 2 then we will access a[2]
* The for loop is written in following format :- 
for i in range(start_value,end_value,increment)
* The start value will tell the for loop as to where it shall tell the index i to begin.
* The end_value will tell the for loop as to where it shall tell the index i to stop.
* The increment will tell the for loop to tell the index i as to what is the length of steps it needs to take

# An exmple to print the datatype of elements in a list

In [16]:
sample_list = [112,1,45,'vampires','good vampires','blood thirsty vampires','hybrid vampires',12.22,90.999,93.2,'original vampires']
for i in range(0,len(sample_list),1):
    print('value ',sample_list[i],'           Data Type',type(sample_list[i]))

value  112            Data Type <class 'int'>
value  1            Data Type <class 'int'>
value  45            Data Type <class 'int'>
value  vampires            Data Type <class 'str'>
value  good vampires            Data Type <class 'str'>
value  blood thirsty vampires            Data Type <class 'str'>
value  hybrid vampires            Data Type <class 'str'>
value  12.22            Data Type <class 'float'>
value  90.999            Data Type <class 'float'>
value  93.2            Data Type <class 'float'>
value  original vampires            Data Type <class 'str'>

# An example to print all numbers between 0 to 10 except 7

In [18]:
for i in range(0,11,1):
    if i!=7:
        print(i)

0
1
2
3
4
5
6
8
9
10

# An example to get all odd numbers from 1 to 20(big code)

In [19]:
a = list(range(1,21))
print('The list of numbers from 1 to 20 is ',a)
odd_numbers = []
for i in range(len(a)):
    if a[i]%2!=0:
        odd_numbers.append(a[i])
        
print('List of all odd numbers is ',odd_numbers)

The list of numbers from 1 to 20 is  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
List of all odd numbers is  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# An example to get all odd numbers between 1 to 20

In [20]:
odd_numbers = []
for i in range(1,21,2):
    odd_numbers.append(i)
print('Odd numbers between 0 and 20 are ',odd_numbers)

Odd numbers between 0 and 20 are  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# An example to get all even numbers between 0 and 20

In [21]:
even_numbers = []
for i in range(2,21,2):
    even_numbers.append(i)
print('Even numbers between 0 and 20 are ',even_numbers)

Even numbers between 0 and 20 are  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Multiplication table.
Ask user to enter a number and write its multiplication table

In [25]:
number = int(input('Enter a number for which you need a multiplication table:- '))
for i in range(11):
    print(number,' x',i,' = ',number*i)

Enter a number for which you need a multiplication table:- 8
8  x 0  =  0
8  x 1  =  8
8  x 2  =  16
8  x 3  =  24
8  x 4  =  32
8  x 5  =  40
8  x 6  =  48
8  x 7  =  56
8  x 8  =  64
8  x 9  =  72
8  x 10  =  80

# Counting the frequency of numbers and strings in a sequence
Ask the user to enter a sequence and find the frequency of numbers and strings in that sequence.

#### Pre-requisite :- any sequence entered by used will be a string. In case a character in the string is in form of a number (like '123') and we want to verify that it is indeed a number we do .isdigit() to confirm. We do .isalpha() to confirm if a character in a string is alphanumeric

In [26]:
sequence = input('Enter the sequence consisting of numbers and letters')
frequency = {'numbers':0,'letters':0}
for i in range(len(sequence)):
    if sequence[i].isdigit():
        frequency['numbers'] = frequency['numbers']+1
    elif sequence[i].isalpha():
        frequency['letters'] = frequency['letters']+1
print('The Frequencey of letters is ',frequency['letters'])
print('The Frequency of numbers is  ',frequency['numbers'])

Enter the sequence consisting of numbers and lettersasadsfdgf122343aw345
The Frequencey of letters is  11
The Frequency of numbers is   9

# Leap years between two years
Ask the user to enter two years and find the leap years and the number of leap years between the two years.

In [30]:
year1 = int(input('Enter the year 1:- '))
year2 = int(input('Enter the year 2:- '))
leap_year = []
for i in range(year1,year2+1,1):
    if i%4==0:
        leap_year.append(i)
        
print('The leap years between ',year1,' and ',year2,'are ',leap_year)
print('The number of leap years are ',len(leap_year))

Enter the year 1:- 1980
Enter the year 2:- 2000
The leap years between  1980  and  2000 are  [1980, 1984, 1988, 1992, 1996, 2000]
The number of leap years are  6

# Fibonacci Sequence
Ask the user to specify the value of n to print the first n terms of Fibonacci sequence

In [36]:
n = int(input('Enter the value of n: '))
fibonacci_seq = [0,1]
for i in range(n):
    if i>1:
        val1 = fibonacci_seq[i-2]
        val2 = fibonacci_seq[i-1]
        fibonacci_seq.append(val1+val2)
print('The first ',n,' terms of Fibonacci Sequence is ',fibonacci_seq)

Enter the value of n: 12
The first  12  terms of Fibonacci Sequence is  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]