# Sets 
We will discuss another data-type of python which is called Sets.

## A Set is an unordered collection of objects that makes sense.

In [1]:
a = {1,2,3,4,5,6}
print('An example of set is: ',a)

An example of set is:  {1, 2, 3, 4, 5, 6}

In [3]:
b = {1,'abc',45.56}
print('A set can have multiple datatypes like lists:- ',b)

A set can have multiple datatypes like lists:-  {'abc', 1, 45.56}

## 1. Set operations :- Intersection

In [7]:
a = {1,2,3,4,10,12}
b = {2,3,6,7,8,9,10}
print('The set a is given as ',a)
print('The set b is given as ',b)
print('The elements present in both the sets a and b is given by ',a&b)
print('We just performed the first set operation known as intersection of two sets.')

The set a is given as  {1, 2, 3, 4, 10, 12}
The set b is given as  {2, 3, 6, 7, 8, 9, 10}
The elements present in both the sets a and b is given by  {10, 2, 3}
We just performed the first set operation known as intersection of two sets.

In [9]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {2,4,5,7,8,10}
c = {1,2,4,5,6,7,9,10}

print('The elements present in all the three sets is given as: ',a&b&c)

The elements present in all the three sets is given as:  {2, 4, 5, 7, 10}

## 2. Set operations :- Union

In [13]:
numbers = {1,2,3,4}
Vampires = {'Stefen','Damon','Elena','Klaus'}
print('We have a set a as ',numbers)
print('We have a set b as ',Vampires)
print('The set having all the elements of a as well as b is given as ',numbers|Vampires)

We have a set a as  {1, 2, 3, 4}
We have a set b as  {'Klaus', 'Elena', 'Stefen', 'Damon'}
The set having all the elements of a as well as b is given as  {1, 2, 3, 4, 'Stefen', 'Damon', 'Klaus', 'Elena'}

In [17]:
numbers  = {1,2,3,4,5,6,7}
vampires   = {'Stefen','Damon','Elena','Klaus','Elijah'}
warewolves = {'Hayley','Jackson','Tyler'}
print('The set having the elements corresponding to all the three sets is given by:- ',numbers|vampires|warewolves)
print('\n')
print('Pardon me for putting too many Vampire Diaries characters! I am a big fan of that tv series')

The set having the elements corresponding to all the three sets is given by:-  {1, 2, 3, 4, 5, 6, 7, 'Jackson', 'Elijah', 'Hayley', 'Stefen', 'Damon', 'Tyler', 'Klaus', 'Elena'}


Pardon me for putting too many Vampire Diaries characters! I am a big fan of that tv series

## 3. Set opertions :- Difference

In [21]:
vampires = {'Stefen','Damon','Klaus','Elena','Caroline','Camille','Lexi'}
female_vampires = {'Elena','Caroline','Camille','Lexi'}

print('The set consisting of vampires is ',vampires)
print('The set containing femal vampires is ',female_vampires)

print('\n')
print('The set having male vampires will be ',vampires-female_vampires)
print('\n')

male_vampires   = {'Lucien','Klaus','Kayleb','Stefen','Damon'}
print('The set having female vampires will be ',vampires-male_vampires)

The set consisting of vampires is  {'Camille', 'Caroline', 'Lexi', 'Stefen', 'Damon', 'Klaus', 'Elena'}
The set containing femal vampires is  {'Lexi', 'Camille', 'Caroline', 'Elena'}


The set having male vampires will be  {'Klaus', 'Stefen', 'Damon'}


The set having female vampires will be  {'Lexi', 'Camille', 'Caroline', 'Elena'}

## 4. Systematic Differences

In [33]:
a  = {1,2,3,4,5,6}
b  = {5,6,8,9,0,10}

print('We have set A as ',a)
print('We have set B as ',b)
print('\n')
print('The common elements in set A and B are ',a&b)
print('\n')
print('The set having elements of A after removal of common elements from A and B will be ',a-(a&b))
print('The set having elements of B after removal of common elements from A and B will be ',b-(a&b))
print('\n')

print('The set having elements of A after removal of common elements from A and B, as well as the elements of B after removal of common elements from A and B will be ',
     (a-(a&b))|(b-(a&b)))


print('\n')
c = (a-(a&b))|(b-(a&b))

print('The set having all the elements of a and b excluding the common elements will be ',c)

We have set A as  {1, 2, 3, 4, 5, 6}
We have set B as  {0, 5, 6, 8, 9, 10}


The common elements in set A and B are  {5, 6}


The set having elements of A after removal of common elements from A and B will be  {1, 2, 3, 4}
The set having elements of B after removal of common elements from A and B will be  {0, 8, 10, 9}


The set having elements of A after removal of common elements from A and B, as well as the elements of B after removal of common elements from A and B will be  {0, 1, 2, 3, 4, 8, 9, 10}


The set having all the elements of a and b excluding the common elements will be  {0, 1, 2, 3, 4, 8, 9, 10}

# Typecasting a list to a set and perform operations

### We will consider a list and find the unique elements of that list

In [41]:
a_list  = [1,1,1,1,1,1,2,3,2,2,4,2,2,2,4,4,3,3,1,3,'vampires','vampires','witches','vampires','witches','witches','vampires']

In [42]:
a_set   = set(a_list)
print('We have a list as:- ',a_list)
print('The set representing the unique elements of the list will be ',a_set)

We have a list as:-  [1, 1, 1, 1, 1, 1, 2, 3, 2, 2, 4, 2, 2, 2, 4, 4, 3, 3, 1, 3, 'vampires', 'vampires', 'witches', 'vampires', 'witches', 'witches', 'vampires']
The set representing the unique elements of the list will be  {1, 2, 3, 4, 'witches', 'vampires'}

In [43]:
new_list = list(a_set)
print('We converted the set - a_set to a list:- ',new_list)

We converted the set - a_set to a list:-  [1, 2, 3, 4, 'witches', 'vampires']

## Generic functional operations on a set

In [44]:
actual_set   = {1,2,3,13.45,67.77,'Originals','Sires','Sirens'}

print('The actual set is ',actual_set)
actual_set.add('Hybrids')
print('The set after adding Hybrids will become ',actual_set)

The actual set is  {1, 2, 67.77, 3, 13.45, 'Sirens', 'Originals', 'Sires'}
The set after adding Hybrids will become  {1, 2, 67.77, 3, 13.45, 'Sirens', 'Hybrids', 'Originals', 'Sires'}

In [48]:
actual_set   = {1,2,3,13.45,67.77,'Originals','Sires','Sirens'}
print('The actual set is ',actual_set)
actual_set.remove(13.45)
print('The actual set after removal of 13.45 is ',actual_set)

The actual set is  {1, 2, 67.77, 3, 13.45, 'Sirens', 'Originals', 'Sires'}
The actual set after removal of 13.45 is  {1, 2, 67.77, 3, 'Sirens', 'Originals', 'Sires'}

In [54]:
actual_set   = {1,2,3,13.45,67.77,'Originals','Witches','Sirens'}
print('The actual set is ',actual_set)

print('\n')
actual_set.discard(99999)
print('The set after removal of the number 99999 is ',actual_set)
print('The set remains the same because 99999 is not present in the set')
print('Discard is used to remove an element from a set only if it is present in the set.')
print('\n')

actual_set.discard('Sirens')
print('The set after removal of word Sirens is ',actual_set)
print('Here actually Sirens was present and it was removed')

The actual set is  {1, 2, 67.77, 3, 13.45, 'Sirens', 'Originals', 'Witches'}


The set after removal of the number 99999 is  {1, 2, 67.77, 3, 13.45, 'Sirens', 'Originals', 'Witches'}
The set remains the same because 99999 is not present in the set
Discard is used to remove an element from a set only if it is present in the set.


The set after removal of word Sirens is  {1, 2, 67.77, 3, 13.45, 'Originals', 'Witches'}
Here actually Sirens was present and it was removed

In [64]:
actual_set   = {1,2,3,13.45,67.77,'Originals','Witches','Sirens'}
another_set  = {'hybrids','warlocks','shadowhunters',1,2,3}

print('We have actual set as ',actual_set)
print('We have another set as ',another_set)
print('\n')

print('We will now extend the actual set by storing the another set values in the actual set.')
actual_set.update(another_set)
print('The actual set after adding all elements of another set will be ',actual_set)


print('\n')
print('This is similar to the extend functionality of list.')
print('\n')
print('Note :- The duplicates are automatically removed after adding another_set to actual_set')

We have actual set as  {1, 2, 67.77, 3, 13.45, 'Sirens', 'Originals', 'Witches'}
We have another set as  {1, 2, 'shadowhunters', 3, 'warlocks', 'hybrids'}


We will now extend the actual set by storing the another set values in the actual set.
The actual set after adding all elements of another set will be  {1, 2, 67.77, 3, 'shadowhunters', 13.45, 'Sirens', 'warlocks', 'hybrids', 'Originals', 'Witches'}


This is similar to the extend functionality of list.


Note :- The duplicates are automatically removed after adding another_set to actual_set

# Remember :- Sets do not support indexing (because it is an 'unordered' collection of objects)

In [65]:
a = {'vampires','Sirens','Warewolves','Hybrids'}
print('This is a sample set ',a)
print('The first element of the set will be (there will be an error)')
print(a[0])

This is a sample set  {'vampires', 'Warewolves', 'Hybrids', 'Sirens'}
The first element of the set will be (there will be an error)

TypeError: 'set' object is not subscriptable

In [66]:
print('We can access the elements of a set by converting it into a list ')
b = list(a)
print('The set a is converted to a list b ',b)
print('The first element of list b will be ',b[0])

We can access the elements of a set by converting it into a list
The set a is converted to a list b  ['vampires', 'Warewolves', 'Hybrids', 'Sirens']
The first element of list b will be  vampires