PANDAS stand for Panel Datastructure and is a library used for handling tables in form of dataframes

In [1]:
import pandas as pd

### Loading a csv using pandas dataframe from home directory
The usual syntax for loading a csv file is pd.read_csv('file_name.csv') 
<br>
The file which we are loading is Seasons_stats.csv and should be persent in home directory.

In [2]:
df = pd.read_csv('sample_data.csv')
print('The file is loaded and the location of the file is home directory(ie., the directory where the code is present)')

The file is loaded and the location of the file is home directory(ie., the directory where the code is present)

### To load an excel file, we typically use the format 
df_name = pd.read_excel('filename.xlsx', sheetname = 'Tabname') <br>
Here we are specifying the filename. We also specify the tab name using the argument sheetname. We specify the necessary tab name to be read from that excel file over here.

### Visualizing the first few rows of the file loaded
We can visualize the first few rows of the file loaded using dataframe_name.head(number_of_rows)

In [3]:
print('We are visualizing the first 3 rows of the dataset loaded here')
df.head(3)

We are visualizing the first 3 rows of the dataset loaded here

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

### Visualizing last 3 rows of the dataset loaded
We can visualize the last few rows of the file loaded using dataframe_name.tail(number_of_rows)

In [4]:
print('We are visualizing the last 3 rows of the dataframe loaded here')
df.tail(3)

We are visualizing the last 3 rows of the dataframe loaded here

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

### Finding the columns of the dataframe loaded

In [5]:
print('The necessary columns of the dataframe loaded are :- ')
print(df.columns)

The necessary columns of the dataframe loaded are :-
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

### Subsetting a dataframe based on columns
Suppose we want a subset of the given dataframe based on only Loan_ID and Gender column.

In [6]:
subdf = df[['Loan_ID','Gender']]
print('Note that we need to pass a list containing the columns that need to be included in the subset.')
print('The needed subset is ')
subdf.head(3)

Note that we need to pass a list containing the columns that need to be included in the subset.
The needed subset is

    Loan_ID Gender
0  LP001002   Male
1  LP001003   Male
2  LP001005   Male

### Automating the entire procedure for subsetting

In [9]:
print('We define a function over here taking the list having indices of the columns needed to be subset with and the dataframe which we will be subsetting. ')
def subset_a_df(list_of_columns,df):
    df_columns      = list(df.columns)
    columns_needed  = []
    for i in range(len(list_of_columns)):
        columns_needed.append(df_columns[list_of_columns[i]])
    return(df[columns_needed])
print('The outcome of this function will be the subset dataframe')

We define a function over here taking the list having indices of the columns needed to be subset with and the dataframe which we will be subsetting.
The outcome of this function will be the subset dataframe

In [10]:
print('We want to consider the first, second, third and sixth columns only. We pass a list [0,1,2,5] in this case.')
subdf = subset_a_df([0,1,2,5],df)
print('The dataframe after subsetting will be:- ')
subdf.head(3)

We want to consider the first, second, third and sixth columns only. We pass a list [0,1,2,5] in this case.
The dataframe after subsetting will be:-

    Loan_ID Gender Married Self_Employed
0  LP001002   Male      No            No
1  LP001003   Male     Yes            No
2  LP001005   Male     Yes           Yes

### Summary of datatypes of all the columns of a dataframe

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

### Shape of the dataframe

In [12]:
print('The number of rows of dataframe:-    ',df.shape[0])
print('The number of columns of dataframe:- ',df.shape[1])
print('The tuple representing the shape of dataframe will be ',df.shape)

The number of rows of dataframe:-     614
The number of columns of dataframe:-  13
The tuple representing the shape of dataframe will be  (614, 13)

### Datatype frequency in a dataframe

In [13]:
print('The frequency of the datatypes in the dataframe is given by ')
df.get_dtype_counts()

The frequency of the datatypes in the dataframe is given by

float64    4
int64      1
object     8
dtype: int64