In [0]:
########## Run this code snippet when running for the first time and don't repeat it in future (else it will keep on downloading the same stuffs again and again and
########## result in redundant usage of memory)

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apachemirror.wuchna.com/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
import findspark
import pandas as pd
import random
import string
import numpy as np
os.environ["JAVA_HOME"]   = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"]  = "/content/spark-2.4.4-bin-hadoop2.7"
findspark.init("spark-2.4.4-bin-hadoop2.7")# SPARK_HOME
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
spark                      = SparkSession.builder.master("local[*]").getOrCreate()

# Mathematical functions covered

In [20]:
pdf = pd.DataFrame(columns=['Index','numbers','integers'])
pdf['Index']  = [100,101,102,103]
pdf['numbers'] = [random.random() for j in range(4)]
pdf['integers'] = [random.randrange(2,10) for j in range(4)]
df = spark.createDataFrame(pdf)
df.show(truncate=False)

+-----+--------------------+--------+
|Index|numbers             |integers|
+-----+--------------------+--------+
|100  |0.8267763189872205  |7       |
|101  |0.030722711900681432|7       |
|102  |0.43371893883828205 |4       |
|103  |0.9444751897698977  |2       |
+-----+--------------------+--------+

In [24]:
df = df.withColumn('log',log(df['numbers']))
df = df.withColumn('log10',log10(df['numbers']))
df = df.withColumn('Log1p',log1p(df['numbers']))
df = df.withColumn('Log2',log2(df['numbers']))
df = df.withColumn('Absolute',abs(df['log10']))
df = df.withColumn('floor',floor(df['numbers']))
df = df.withColumn('Ceiling',ceil(df['numbers']))
df = df.withColumn('Round_3dgts',round(df['numbers'],3))
df = df.withColumn('Squareroot',sqrt(df['integers']))
df = df.withColumn('power_numbers_to_integers',pow(df['numbers'],df['integers']))
df = df.withColumn('factorial',factorial(df['integers']))
df.show()

+-----+--------------------+--------+--------------------+--------------------+--------------------+-------------------+-----+-------+-----------+------------------+-------------------------+--------------------+---------+
|Index|             numbers|integers|               log10|               Log1p|                Log2|           Absolute|floor|Ceiling|Round_3dgts|        Squareroot|power_numbers_to_integers|                 log|factorial|
+-----+--------------------+--------+--------------------+--------------------+--------------------+-------------------+-----+-------+-----------+------------------+-------------------------+--------------------+---------+
|  100|  0.8267763189872205|       7|-0.08261197118415724|  0.6025528391328066|-0.27443102805067715|0.08261197118415724|    0|      1|      0.827|2.6457513110645907|       0.2640682587299199|-0.19022109335149412|     5040|
|  101|0.030722711900681432|       7| -1.5125404516770113|0.030260218231321207|  -5.024550621079484| 1.5125404516770113|    0|      1|      0.031|2.6457513110645907|     2.583549805491814...| -3.4827530965819666|     5040|
|  102| 0.43371893883828205|       4|-0.36279161346714967|  0.3602717249465826|  -1.205167653366041|0.36279161346714967|    0|      1|      0.434|               2.0|      0.03538616890345912| -0.8353585610327167|       24|
|  103|  0.9444751897698977|       2|-0.02480944598730311|  0.6649921153499042|-0.08241519564381274|0.02480944598730311|    0|      1|      0.944|1.4142135623730951|       0.8920333840908844|-0.05712586049580...|        2|
+-----+--------------------+--------+--------------------+--------------------+--------------------+-------------------+-----+-------+-----------+------------------+-------------------------+--------------------+---------+

# Trigonometric Functions covered

In [26]:
pdf = pd.DataFrame(columns=['Index','degrees'])
pdf['Index']  = [100,101,102,103]
pdf['degrees'] = [random.randrange(30,180) for j in range(4)]
df = spark.createDataFrame(pdf)
df.show(truncate=False)

+-----+-------+
|Index|degrees|
+-----+-------+
|100  |167    |
|101  |96     |
|102  |85     |
|103  |62     |
+-----+-------+

In [27]:
df = df.withColumn('radians',toRadians(df['degrees']))
df.show()

+-----+-------+------------------+
|Index|degrees|           radians|
+-----+-------+------------------+
|  100|    167|  2.91469985083053|
|  101|     96|1.6755160819145563|
|  102|     85|  1.48352986419518|
|  103|     62|1.0821041362364843|
+-----+-------+------------------+

In [31]:
df = df.withColumn('Cosine',cos(df['radians']))
df = df.withColumn('Cosine_hyperbolic',cosh(df['degrees']))
df = df.withColumn('Arc_cos',acos(df['Cosine']))
df.show()

+-----+-------+------------------+--------------------+--------------------+------------------+
|Index|degrees|           radians|              Cosine|   Cosine_hyperbolic|           Arc_cos|
+-----+-------+------------------+--------------------+--------------------+------------------+
|  100|    167|  2.91469985083053| -0.9743700647852351|1.683249453660082E72|  2.91469985083053|
|  101|     96|1.6755160819145563|-0.10452846326765333|2.461729143006029E41|1.6755160819145563|
|  102|     85|  1.48352986419518| 0.08715574274765836|4.111506357311456...|  1.48352986419518|
|  103|     62|1.0821041362364843| 0.46947156278589086|4.219178334370727...|1.0821041362364843|
+-----+-------+------------------+--------------------+--------------------+------------------+